<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../static/icons/favicon_io/favicon-16x16.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/pages/auth.css" />
    <link rel="stylesheet" href="../static/css/pages/basket.css" />
    <link rel="stylesheet" href="../static/css/pages/favourites.css" />
    <link rel="stylesheet" href="../static/css/pages/home.css" />
    <link rel="stylesheet" href="../static/css/pages/result.css" />
    <title>Panda Price регистрация</title>
  </head>
  <body>
    <div class="container__register">
      <div class="img-Panda">
        <img
          class="img-Panda__PandaHead"
          src="../static/img/Group 44 1.png"
          alt=""
        />
      </div>
      <div class="registration">
        <div class="registration__text">
          <h1>Регистрация</h1>
          <p>Зарегистрируйтесь, чтобы продолжить</p>
        </div>
        <form action="" method="post">
          <!-- имя -->
          <div class="name">
            <input
              class="name__input-name"
              type="text"
              placeholder="Имя"
              name=""
              id=""
            />
          </div>
          <!-- фамилия -->
          <div class="surname">
            <input
              class="surname__input-surname"
              type="text"
              placeholder="Фамилия"
              name=""
              id=""
            />
          </div>
          <!-- почта -->
          <div class="email">
            <img
              class="email__icon-email"
              src="../static/icons/mail-icon.png"
              alt="иконка почты"
            />
            <input
              class="email__input-email"
              type="email"
              placeholder="E-mail"
              name=""
              id=""
            />
          </div>
          <!-- пароль -->
          <div class="password">
            <img
              class="password__icon-password"
              src="../static/icons/password_icon.png"
              alt="иконка пароля"
            />
            <input
              class="password__input-password"
              type="password"
              placeholder="Пароль"
              name="Пароль"
              id=""
            />
            <img
              class="icon-eye"
              src="../static/icons/open-eye.png"
              alt="иконка пароля"
            />
          </div>
          <!-- повтор пароля -->
          <div class="password passwordtwo">
            <img
              class="password__icon-password"
              src="../static/icons/password_icon.png"
              alt="иконка пароля"
            />
            <input
              class="password__input-password input-passwordtwo"
              type="password"
              placeholder="Повторите пароль"
              name="Пароль"
              id=""
            />
            <img
              class="icon-eye"
              src="../static/icons/open-eye.png"
              alt="иконка пароля"
            />
          </div>
          <div class="enter">
            <a href="#"
              ><button class="enter__btn-enter btn-registration">
                Зарегистрироваться
              </button></a
            >
          </div>
          <p class="text-rules">
            Авторизуясь, вы соглашаетесь с <br /><a
              class="text-rules__link"
              href="#"
              >правилами обработки персональных данных</a
            >
          </p>
        </form>
        <p class="registration__text-authorization">
          Уже зарегистрированы?
          <a class="registration__text-authorization_link" href="login.html"
            >Войдите в систему</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
